* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
}

.navbar {
	font-family: 'Poppins' !important;
}

.navbar-brand {
	font-family: 'Press Start 2P';
	color: yellow !important;
	display: inline-block !important;
	font-size: 75%;
}

.box-text {
	display: block;
	margin: -2% -2% -2% -2%;
	padding: -2% -2% -2% -2%;	
	line-height: 105%;
}

.top-logo {
	color: #F74E45 !important;
}

.bot-logo {
	color: #F5F591 !important;
}


.weather-body {
	height:100%;
    width:100%;
    position: fixed;
	font-family: 'Montserrat', sans-serif !important;
	background-image: url(../images/weather/warm.jpg);
	background-size: cover;
	background-position: top center;
	transition: 0.4s ease-out;
}

.weather-body .cold {
	background-image: url(../images/weather/cold.jpg);
}

.app-wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));

}

.weather-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 15px 15px;
}

.weather-header input {
	width: 100%;
	max-width: 280px;
	padding: 10px 15px;
	border: none;
	outline: none;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 16px 0px 0px 0px;
	border-bottom: 3px solid #DF8E00;
	color: #313131;
	font-size: 20px;
	font-weight: 300;
	transition: 0.2s ease-out;
}

.weather-header input:focus {
	background-color: rgba(255, 255, 255, 0.6);
}

.weather-header button {
	width: 100%;
	max-width: 50px;
	padding: 10px 15px;
	border: none;
	outline: none;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 0px 0px 16px 0px;
	border-bottom: 3px solid #DF8E00;
	color: #313131;
	font-size: 20px;
	font-weight: 300;
	transition: 0.2s ease-out;
}

.weather-header button:hover{
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.6);
}

.weather-main {
	flex: 1 1 100%;
	padding: 25px 25px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.location .city {
	color: #FFFFFF;
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 5px;
}

.location .date {
	color: #FFFFFF;
	font-size: 16px;
}

.current .temp {
	color: #FFFFFF;
	font-size: 102px;
	font-weight: 900 !important;
	margin: 30px 0px;
	text-shadow: 4px 6px rgba(0, 0, 0, 0.6);
}

.current .temp span {
	font-weight: 500;
}

.current .weather {
	color: #FFFFFF;
	font-size: 32px;
	font-weight: 700;
	font-style: italic;
	margin-bottom: 15px;
	text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 500;
	text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}