body {
	font-family: 'Poppins' !important;
}

.navbar {
	font-family: 'Poppins' !important;
}

.navbar-brand {
	font-family: 'Press Start 2P';
	color: yellow !important;
	display: inline-block !important;
	font-size: 75%;
}

.box-text {
	display: block;
	margin: -2% -2% -2% -2%;
	padding: -2% -2% -2% -2%;	
	line-height: 105%;
}

.top-logo {
	color: #F74E45 !important;
}

.bot-logo {
	color: #F5F591 !important;
}

.jumbotron h2 {
	font-weight: bold;
}

#cityDiv {
	width: 31%;
	margin: auto;
	text-align: center;
}

#cityDiv button {
 margin-left: 1%;
}
