@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

body {
	/*background: #EFEFBB;
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
	background: linear-gradient(to right, #D4D3DD, #EFEFBB);*/
	background: url('../images/pokemon/pokeball2.jpg') no-repeat center center fixed;
	background-size: cover;
/*	display: flex;
	flex-direction: column;*/	
	align-items: center;
	justify-content: center;
	margin: 0;
}

.pokemon-app {
	background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: center;
	font-family: 'Lato';
	margin: 0;
}


.pokemon-app h1 {
	letter-spacing: 3px;
	color: #FFFFFF;
	font-weight: bold;
	padding: 15px 5px 5px 5px;
	font-family: 'Montserrat', sans-serif !important;
}

.poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 100%;
}

.pokemon {
	background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
	text-align: center;
	width: 	200px;
}

.pokemon .img-container {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
}

.pokemon .img-container img {
	margin-top: 20px;
	max-width: 90%;
}

.pokemon .info {
	margin-top: 20px;
}

.pokemon .number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}


.pokemon .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}

.pokemon:hover{
animation: bounce 0.5s linear;
cursor: pointer;
}
@keyframes bounce {
	20%{
		transform: translateY(-6px);
	}
	40%{
		transform: translateY(0px);
	}
	60%{
		transform: translateY(-2px);
	}
	80%{
		transform: translateY(-0px);
	}
}
.popup{
	position: fixed;
	top:0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(to right, #D4D3DD, #EFEFBB);
	
	display: flex;
	justify-content: center;
	align-items: center;
}
#closeBtn {
	position: absolute;
	top: 70px;
	right: 20px;

}
button{
	background-color: orangered;
	padding: 10px 20px;
	border: none;
	color: white;
	border-radius: 3px;
	transition: transform 100ms;

}
button:hover {
	cursor: pointer;
	transform: translateY(-1px);
	box-shadow: 0px 1px 2px darkred;
}
/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}
h4{
	font-size: 45px;

}
h5{
	font-size: 25px;
	
}
.details {
  position: relative;
  margin: 0 auto;
  width: 40vw;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "name     name" "sprite   types" "sprite   base-stats" "profile  profile" "evo      evo";
  display: none;
}

.details .pk-name {
  grid-area: name;
}
.details .type-wrapper {
  grid-area: types;
}
.details .type-wrapper .type-list {
  padding: 0;
  display: flex;
}
.details .type-wrapper .type {
  margin-right: 5px;
}

.details .base-stats {
  grid-area: base-stats;
}
.details .base-stats .stat-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.details .profile {
  grid-area: profile;
}
.details .profile .profile-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "height    category" "weight    abilities";
}
.details .profile .profile-list .height {
  grid-area: height;
  margin-left: 5px;
}
.details .profile .profile-list .weight {
  grid-area: weight;
  margin-left: 5px;
}
.details .profile .profile-list .abilities {
  grid-area: abilities;
}
.details .profile .profile-list .category {
  grid-area: category;
}
.details .profile .profile-list .attr-label {
  color: darkslategrey;
  font-size: 15px;
}
.details .profile .profile-list .attr-value {
  font-size: 20px;
}
.details .evolution {
  grid-area: evo;
}
.details .evolution .evolution-list {
  display: flex;
  justify-content: space-evenly;
}